.container {
  flex-direction: column;
  flex: 0;
}

.searchContainer {
  display: flex;
  width: 35%;
  margin-bottom: 10px;
  flex-direction: column;
  gap: 20px;
}

.name {
  color: var(--secondary-color);
}

.table,
.tableContainer {
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tableHeader {
  margin-bottom: 20px;
}

.tableHeader .headerRow {
  display: flex;
}

.headerRow p {
  min-width: 160px;
  width: calc(100% / 5);
  text-align: center;
  font-weight: 300;
  border-bottom: 2px solid var(--gray-color);
  color: var(--gray-color);
}

.headerRowSimple p {
  width: calc(100% / 4);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0 0 0;
  width: 100%;
  border-bottom: .5px solid var(--gray-color);
}

.row p,
.row div {
  min-width: 160px;
  width: calc(100% / 5);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rowSimple p,
.rowSimple div {
  width: calc(100% / 4);
}

.buttonGroup button,
.buttonGroup a {
  background-color: transparent;
  margin: 0;
  border: none;
}

.buttonGroup img {
  width: 25px;
  height: 25px;
}

.card {
  margin-bottom: 0;
  border-bottom-right-radius: 0;
}

.editModalCard div {
  flex-direction: column;
}

.editButtonGroup {
  display: flex;
}

.modalCard {
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.modalCard div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.editInputGroup {
  display: flex;
  flex-direction: column;
}

.editInputGroup div>input {
  width: fit-content;
  border-radius: 15px;
  padding: 10px 15px;
  border: none;
  background-color: var(--primary-color);
}

.inputRow {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center;
}


@media screen and (max-width: 425px) {
  .searchContainer {
    width: 70%;
  }
}

@media screen and (max-width: 850px) {
  .searchContainer {
    flex-direction: column;
    gap: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .row {
    border: none;
  }
}