@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    font-family: "JetBrains Mono", monospace !important;
    color: var(--white-color);
    font-weight: 300;
}

body {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

a,
a:hover,
a:visited,
a:active {
    cursor: pointer;
    text-decoration: none;
    color: var(--white-color);
}