:root {
  --primary-color: #363636;
  --secondary-color: #FF9B71;
  --tertiary-color: #272727;
  --gray-color: #808080;
  --white-color: #FFF;
  --positive-color: #00FF00;
  --negative-color: #FF0000;
}