
.text{
    height: 30px;
    background-color: transparent;
    width: 80%;
    margin-top: 30px;
    border-bottom: 5px solid #808080;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    outline: none;
}

.Screen{
    background-color: #FF9B71;
    width: 100%;
    height: 95vh;
    display:flex;
}

.DarkScreen{
    background-color: #363636;
    width: 100%;
    height: 95vh;
    display:flex; 
}


.button{
    height: 30px;
    width: 230px;
    margin-top: 30px;
    font-style:normal;
    font-size: 16px;
    background-color: #FF9B71;
    border-radius: 15px;
    border: none;
}

.title{
    font-size: 75px;
    color: white;
}

.DarkDiv{
    background-color: #FF9B71;
    width:65vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
}

.DarkButton{
    height: 30px;
    width: 230px;
    margin-top: 30px;
    font-style:normal;
    font-size: 16px;
    background-color: #363636;
    border-radius: 15px;
    border: none;
    color: white;

}